.grid-item {
    background-color: #bdc3c7;
    padding: 1rem;
    border-radius: .5rem;
}

.laptop-info {
    display: flex;
    flex-direction: row;
}

.laptop-info img {
    margin-right: 1rem;
    max-width: 50%;
    object-fit: cover;
    border-radius: .5rem;
}


.laptop-desc {
    max-width: 50%;
}

.laptop-desc h3 {
    margin-top: 0;
}

.laptop-desc p {
    margin-bottom: 0;
}

.add-cart {
    width: 100%;
    padding: .5rem 0;
    /* margin-top: 1rem; */
    border-radius: .5rem;
    border: none;
    background-color: #2c3e50;
    color: white;
}
.add-to-cart{
    padding-right: 10px;
}
.add-cart:hover {
    background-color: #8e44ad;
}

hr{
    margin: 1rem 0;
}